@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
--Pale-blue: hsl(225, 100%, 94%);
--Bright-blue: hsl(245, 75%, 52%);

/*### Neutral*/
--Very-pale-blue: hsl(225, 100%, 98%);
--Desaturated-blue: hsl(224, 23%, 55%);
--Dark-blue: hsl(223, 47%, 23%);
}
body {
    font-size: 1rem;
    font-family: 'Red Hat Display', sans-serif;
    background-image: url(images/pattern-background-desktop.svg);
    background-repeat: no-repeat;
    background-size: 100%;
}
h2 {
    font-weight: 900;
    text-align: center;
    margin: 1.25rem;
    color: var(--Dark-blue);
}
h3 {
    font-weight: 700;
    position: relative;
    margin: 0 0 1.25rem 5rem;
    bottom: 1.25rem;
}
p {
    width: 75%;
    text-align: center;
    margin: auto;
    color: var(--Desaturated-blue);
    line-height: 2;
}
ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    top: 2.5rem;    
}
li:first-child {
    position: relative;
    background-color: var(--Pale-blue);
    margin-left: 1.25rem;
    border-radius: 50%;
}
li:last-child {
    padding-right: 1.25rem;
    text-decoration: underline;
    color: var(--Bright-blue);
}
li:last-child:hover {
    cursor: pointer;
    text-decoration: none;
}
button {
    display: block;
    width: 80%;
    height: 2.8125rem;
    margin: 2.5rem auto;
    background-color: var(--Bright-blue);
    border: none;
    border-radius: 0.625rem;
    box-shadow: 0.125rem 1.25rem 0.3125rem var(--Pale-blue);
    font-size: 1rem;
    color: #fff;
    font-weight: 700;
}
button:hover {
    cursor: pointer;
}
/***************************************************** Class Selectors *********************************/
.container {
    width: 30%;
    margin: 4.8675rem auto;
    background-color: #fff;
    border-radius: 0.625rem;
}
.container .wrapper img {
    width: 100%;
    border-radius: 0.625rem 0.625rem 0 0;
}
.container  div {
    margin: 2.5rem auto;
    width: 80%;
    height: auto;
    border-radius: 0.625rem;
    background-color: var(--Very-pale-blue);
}
.container  div p {
    position: relative;
    text-align: left;
    left: 2.5rem;
    bottom: 1.25rem;
    font-weight: 500;
}
.last {
    padding-bottom: 1.25rem;
    font-weight: 700;
}
.last:hover {
    cursor: pointer;
}
.attribution { 
    font-size: 0.8125rem;
    text-align: center;
    bottom: 0; 
    }
.attribution a { 
        color: hsl(228, 45%, 44%); 
    }
    @media (max-width: 375px) {
        body {
            background-image: url(images/pattern-background-mobile.svg);
            background-repeat: no-repeat;
            background-size: 100%;
        }
    @media (max-width:1200px) {
        .container {
            width: 30%;
        }
        .container  div p {
            font-size: 0.5rem;
        }
        .container  div h3 {
            font-weight: 500;
            font-size: 0.5rem;
        }
        ul {
            font-size: 0.5rem;
        }
    }
